---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="404" description="Page not found">
	<h1>404</h1>
	<p>This page has been archived or does not exist.</p>
	<p><a href="/">Back to Root</a></p>
</Layout>
